## Lab | Inferential statistics - T-test & P-value

**Instructions:**

We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other.

In [1]:
import pandas as pd
import math
from scipy import stats
import numpy as np

In [4]:
data = {
    'new_machine': [42.1, 41, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7],
    'old_machine': [42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44, 44.1]
}

In [5]:
data

{'new_machine': [42.1, 41, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7],
 'old_machine': [42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44, 44.1]}

In [6]:
df = pd.DataFrame(data)

In [7]:
df.head()

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [15]:
new_machine = np.array([42.1, 41, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7])

In [16]:
old_machine = np.array([42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44, 44.1])

In [20]:
alpha = 0.05

In [21]:
from scipy.stats import ttest_ind, norm
ttest_ind(new_machine, old_machine)

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)

**The average packing time of the machines differ**

In [23]:
t_statistic, p_value= stats.ttest_ind(new_machine, old_machine, alternative='less')  
if p_value < alpha:
    print("The new machine is faster than the old machine.")
else:
    print("The new machine is faster than the old machine.")

The new machine is faster than the old machine.